body {
    background-color: #121212 !important;
    color: #ffffff !important;
    padding-top: 12vh !important;
    padding-bottom: 30% !important;
}

.formCenter {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    width: min(60vw, 90%);
}

.mainTitle {
    text-align: center !important;
}

.navbar {
    background-color: #3f3f3f !important;
}

.navbar * {
    color: #ffffff !important;
}

.navbar * button {
    background-color: #4d5497;
    border: 0;
}

input {
    background-color: #282828 !important;
    border: 0.5px solid #202020 !important;
    color: #ffffff !important;
}

input::placeholder {
    color: #8b8b8b !important;
}